body {
   background-color: #117edd21;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.navbar {
   padding: 0;
}

.main-logo {
   transition: all .5s ease;
}

.main-logo:hover {
   transform: scale(1.2);
}

.none {
   display: none;
}

.status-wrap {
   display: flex;
   justify-content: center;
   gap: 40px;
   margin-bottom: 10px;
   padding-top: 10px;
}

.visit-text {
   font-size: 18px;
   color: beige;
   background-color: black;
   border-radius: 5px;
   padding: 5px 15px
}

.hide {
   display: none;
}