body {
   background-color: #117edd21;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.navbar {
   padding: 0;
}

.main-logo {
   transition: all .5s ease;
}

.main-logo:hover {
   transform: scale(1.2);
}

.none {
   display: none;
}